[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/m5stack"]
	path = components/m5stack
	url = https://github.com/m5stack/m5stack.git
